# Title : ANALYSIS ON NEW BIKES 
## Sub Title : Data Collection & Initial Cleaning of Bikes Data

### Importing required libraries for data scraping from web

In [1]:
import requests
from bs4 import BeautifulSoup
import re
import pandas as pd

#### Getting url

In [2]:
url=requests.get("https://www.carandbike.com/new-bikes/models")

#### Response got from web is accessable if response is 200

In [3]:
url

#### Beautifulsoup uses to extracting the text from the web

In [4]:
soup=BeautifulSoup(url.text)

### Writing the codes for extracting the exact required data from the text

In [11]:
models=[]
# Scraping the data of bikes models from text
for i in soup.find_all("figcaption",class_="newmodel-bike__ttl"):
    a = i.text
    models.append(a.split("\n")[0])
    
len(models)


prices=[]
# Scraping the data of bikes prices from text
for i in soup.find_all("div",class_="newmodel-bike__ft grid grid__gap10"):
    a = i.text
    prices.append(a.split("\n")[3])
    
len(prices)

cc=[]
# Scraping the data of bikes CC from text
for i in soup.find_all("ul",class_="newmodel-bike__spec grid-flex grid-am h__mb15"):
    a = i.text
    cc.append(a.split("\n")[1])
    
len(cc)


mileage=[]
# Scraping the data of bikes mileage from text
for i in soup.find_all("ul",class_="newmodel-bike__spec grid-flex grid-am h__mb15"):
    a = i.text
    mileage.append(a.split("\n")[2])
    
len(mileage)


weight=[]
# Scraping the data of bikes weights from text
for i in soup.find_all("ul",class_="newmodel-bike__spec grid-flex grid-am h__mb15"):
    a = i.text
    weight.append(a.split("\n")[3])
    
len(weight)


rating=[]
# Scraping the data of bikes ratings from text
for i in soup.find_all("div",class_="newmodel-bike__rating h__mb15"):
    a = i.text
    rating.append(a.split("/")[0].split("(")[1])
    
len(rating)

reviews=[]
# Scraping the data of bikes reviews from text
for i in soup.find_all("span",class_="starrating__score"):
    a = i.text
    reviews.append(a.split("\n")[2])
    
reviews

['                        2,254  ratings                    ',
 '                        738  ratings                    ',
 '                        1,995  ratings                    ',
 '                        4,142  ratings                    ',
 '                        20,812  ratings                    ',
 '                        8,277  ratings                    ',
 '                        2,934  ratings                    ',
 '                        7,637  ratings                    ',
 '                        2,601  ratings                    ',
 '                        6,903  ratings                    ',
 '                        2,615  ratings                    ',
 '                        11,835  ratings                    ']

### Converting all the data to a Dictionary & Creating a Dataframe by using the dictionary

In [12]:
dict={"Model":models,
     "Prices":prices,
     "Bike CC":cc,
     "Mileage":mileage,
     "Weight":weight,
     "Ratings":rating,
     "Reviews":reviews}

df = pd.DataFrame(dict)
df

,Model,Prices,Bike CC,Mileage,Weight,Ratings,Reviews
0,Royal Enfield Himalayan,"₹ 2,10,784 ...",411.0 CC,45 Km/l,191 Kg,3.7,"2,254 ratings ..."
1,Royal Enfield Classic Chrome,"₹ 1,88,868 ...",499.0 CC,27 Km/l,194 Kg,3.5,738 ratings ...
2,Royal Enfield Meteor 350,"₹ 2,05,844 ...",349.0 CC,41.88 Km/l,183 Kg,3.7,"1,995 ratings ..."
3,Royal Enfield Bullet 350,"₹ 1,27,094 ...",346.0 CC,45 Km/l,183 Kg,3.4,"4,142 ratings ..."
4,Hero Splendor +,"₹ 69,380 ...",97.2 CC,70 Km/l,110 Kg,3.6,"20,812 ratings ..."
5,Honda CB Shine,"₹ 72,787 ...",124.7 CC,65 Km/l,114 Kg,3.4,"8,277 ratings ..."
6,Honda Activa 6G,"₹ 69,645 ...",109.5 CC,45 Km/l,107 Kg,3.5,"2,934 ratings ..."
7,Royal Enfield Classic 350,"₹ 1,84,374 ...",349.0 CC,37 Km/l,195 Kg,3.6,"7,637 ratings ..."
8,Yamaha MT-15,"₹ 1,44,900 ...",155.0 CC,48 Km/l,138 Kg,3.6,"2,601 ratings ..."
9,Honda Dio,"₹ 64,510 ...",109.5 CC,55 Km/l,103 Kg,3.6,"6,903 ratings ..."
10,Honda SP 125,"₹ 78,381 ...",124.0 CC,65 Km/l,117 Kg,3.5,"2,615 ratings ..."
11,Bajaj Pulsar 150,"₹ 95,872 ...",149.5 CC,65 Km/l,144 Kg,3.6,"11,835 ratings ..."

### url defined as x to get the all pages data

In [20]:
x="""https://www.carandbike.com/new-bikes/models/"""

### Writing the codes for extracting the data from the all pages of the urls

In [21]:
models=[]
prices=[]
cc=[]
mileage=[]
weight=[]
rating=[]
reviews=[]

# code for printing all pages & getting access for text and loading data.
for i in range(2,32):
    xs = x+str(i)
    
    print(xs)
    page = requests.get(xs)
    soups = BeautifulSoup(page.text)
    
# Scraping the data of bikes models from text of all pages
    for i in soups.find_all("figcaption",class_="newmodel-bike__ttl"):
        a = i.text
        models.append(a.split("\n")[0])

# Scraping the data of bikes prices from text of all pages
    for i in soups.find_all("div",class_="newmodel-bike__ft grid grid__gap10"):
        a = i.text
        prices.append(a.split("\n")[3])
        
# Scraping the data of bikes CC from text of all pages
    for i in soups.find_all("ul",class_="newmodel-bike__spec grid-flex grid-am h__mb15"):
        a = i.text
        cc.append(a.split("\n")[1])

# Scraping the data of bikes mileage from text of all pages
    for i in soups.find_all("ul",class_="newmodel-bike__spec grid-flex grid-am h__mb15"):
        a = i.text
        mileage.append(a.split("\n")[2])

# Scraping the data of bikes weights from text of all pages
    for i in soups.find_all("ul",class_="newmodel-bike__spec grid-flex grid-am h__mb15"):
        a = i.text
        weight.append(a.split("\n")[3])

# Scraping the data of bikes ratings from text of all pages
    for i in soups.find_all("div",class_="newmodel-bike__rating h__mb15"):
        a = i.text
        rating.append(a.split("/")[0].split("(")[1])

# Scraping the data of bikes reviews from text of all pages
    for i in soups.find_all("span",class_="starrating__score"):
        a = i.text
        reviews.append(a.split("\n")[2])
    
len(reviews)

https://www.carandbike.com/new-bikes/models/2
https://www.carandbike.com/new-bikes/models/3
https://www.carandbike.com/new-bikes/models/4
https://www.carandbike.com/new-bikes/models/5
https://www.carandbike.com/new-bikes/models/6
https://www.carandbike.com/new-bikes/models/7
https://www.carandbike.com/new-bikes/models/8
https://www.carandbike.com/new-bikes/models/9
https://www.carandbike.com/new-bikes/models/10
https://www.carandbike.com/new-bikes/models/11
https://www.carandbike.com/new-bikes/models/12
https://www.carandbike.com/new-bikes/models/13
https://www.carandbike.com/new-bikes/models/14
https://www.carandbike.com/new-bikes/models/15
https://www.carandbike.com/new-bikes/models/16
https://www.carandbike.com/new-bikes/models/17
https://www.carandbike.com/new-bikes/models/18
https://www.carandbike.com/new-bikes/models/19
https://www.carandbike.com/new-bikes/models/20
https://www.carandbike.com/new-bikes/models/21
https://www.carandbike.com/new-bikes/models/22
https://www.carandbike.com/new-bikes/models/23
https://www.carandbike.com/new-bikes/models/24
https://www.carandbike.com/new-bikes/models/25
https://www.carandbike.com/new-bikes/models/26
https://www.carandbike.com/new-bikes/models/27
https://www.carandbike.com/new-bikes/models/28
https://www.carandbike.com/new-bikes/models/29
https://www.carandbike.com/new-bikes/models/30
https://www.carandbike.com/new-bikes/models/31

349

### Converting the data of all pages to another Dictionary & Creating another Dataframe by using the dictionary

In [22]:
dict1={"Model":models,
     "Prices":prices,
     "Bike CC":cc,
     "Mileage":mileage,
     "Weight":weight,
     "Ratings":rating,
      "Reviews":reviews}

df1 = pd.DataFrame(dict1)
df1

,Model,Prices,Bike CC,Mileage,Weight,Ratings,Reviews
0,Yamaha FZ S V3.0 FI,"₹ 1,15,900 ...",149.0 CC,45 Km/l,135 Kg,3.6,"3,561 ratings ..."
1,Bajaj Pulsar 125,"₹ 72,122 ...",124.4 CC,62 Km/l,140 Kg,3.5,"4,040 ratings ..."
2,Bajaj Pulsar NS 125,"₹ 93,818 ...",124.4 CC,N/A,144 Kg,3.6,"1,399 ratings ..."
3,Bajaj Pulsar 220,"₹ 1,23,245 ...",220.0 CC,40 Km/l,155 Kg,3.8,"4,848 ratings ..."
4,Yamaha MT-15 V2.0,"₹ 1,60,900 ...",155.0 CC,48 Km/l,139 Kg,3.6,319 ratings ...
...,...,...,...,...,...,...,...
344,BGauss A2,"₹ 52,499 ...",NA,110 Km/Full Charge,88 Kg,2.6,22 ratings ...
345,MV Agusta Brutale 1090,"₹ 21,02,268 ...",1078.0 CC,15 Km/l,183 Kg,3.3,53 ratings ...
346,Indian Chieftain Elite,"₹ 38,00,000 ...",1811.0 CC,18 Km/l,388 Kg,3.6,24 ratings ...
347,EeVe Soul,"₹ 1,40,000 ...",NA,120 Km/Full Charge,140 Kg,2.6,31 ratings ...
348,Indian Super Chief Limited,"₹ 22,82,155 ...",1890.0 CC,N/A,324 Kg,3.2,16 ratings ...

### Joining the two Dataframes into one DataFrame using concat method

In [23]:
final_df = pd.concat([df,df1],axis=0)

In [24]:
final_df

,Model,Prices,Bike CC,Mileage,Weight,Ratings,Reviews
0,Royal Enfield Himalayan,"₹ 2,10,784 ...",411.0 CC,45 Km/l,191 Kg,3.7,"2,254 ratings ..."
1,Royal Enfield Classic Chrome,"₹ 1,88,868 ...",499.0 CC,27 Km/l,194 Kg,3.5,738 ratings ...
2,Royal Enfield Meteor 350,"₹ 2,05,844 ...",349.0 CC,41.88 Km/l,183 Kg,3.7,"1,995 ratings ..."
3,Royal Enfield Bullet 350,"₹ 1,27,094 ...",346.0 CC,45 Km/l,183 Kg,3.4,"4,142 ratings ..."
4,Hero Splendor +,"₹ 69,380 ...",97.2 CC,70 Km/l,110 Kg,3.6,"20,812 ratings ..."
...,...,...,...,...,...,...,...
344,BGauss A2,"₹ 52,499 ...",NA,110 Km/Full Charge,88 Kg,2.6,22 ratings ...
345,MV Agusta Brutale 1090,"₹ 21,02,268 ...",1078.0 CC,15 Km/l,183 Kg,3.3,53 ratings ...
346,Indian Chieftain Elite,"₹ 38,00,000 ...",1811.0 CC,18 Km/l,388 Kg,3.6,24 ratings ...
347,EeVe Soul,"₹ 1,40,000 ...",NA,120 Km/Full Charge,140 Kg,2.6,31 ratings ...
348,Indian Super Chief Limited,"₹ 22,82,155 ...",1890.0 CC,N/A,324 Kg,3.2,16 ratings ...

#### Resetting the index after concating the dataframes

In [25]:
final_df = final_df.reset_index()

In [26]:
final_df

,index,Model,Prices,Bike CC,Mileage,Weight,Ratings,Reviews
0,0,Royal Enfield Himalayan,"₹ 2,10,784 ...",411.0 CC,45 Km/l,191 Kg,3.7,"2,254 ratings ..."
1,1,Royal Enfield Classic Chrome,"₹ 1,88,868 ...",499.0 CC,27 Km/l,194 Kg,3.5,738 ratings ...
2,2,Royal Enfield Meteor 350,"₹ 2,05,844 ...",349.0 CC,41.88 Km/l,183 Kg,3.7,"1,995 ratings ..."
3,3,Royal Enfield Bullet 350,"₹ 1,27,094 ...",346.0 CC,45 Km/l,183 Kg,3.4,"4,142 ratings ..."
4,4,Hero Splendor +,"₹ 69,380 ...",97.2 CC,70 Km/l,110 Kg,3.6,"20,812 ratings ..."
...,...,...,...,...,...,...,...,...
356,344,BGauss A2,"₹ 52,499 ...",NA,110 Km/Full Charge,88 Kg,2.6,22 ratings ...
357,345,MV Agusta Brutale 1090,"₹ 21,02,268 ...",1078.0 CC,15 Km/l,183 Kg,3.3,53 ratings ...
358,346,Indian Chieftain Elite,"₹ 38,00,000 ...",1811.0 CC,18 Km/l,388 Kg,3.6,24 ratings ...
359,347,EeVe Soul,"₹ 1,40,000 ...",NA,120 Km/Full Charge,140 Kg,2.6,31 ratings ...
360,348,Indian Super Chief Limited,"₹ 22,82,155 ...",1890.0 CC,N/A,324 Kg,3.2,16 ratings ...

#### Dropping the duplicate index from dataframe

In [27]:
final_df = final_df.drop('index',axis=1)

In [28]:
final_df

,Model,Prices,Bike CC,Mileage,Weight,Ratings,Reviews
0,Royal Enfield Himalayan,"₹ 2,10,784 ...",411.0 CC,45 Km/l,191 Kg,3.7,"2,254 ratings ..."
1,Royal Enfield Classic Chrome,"₹ 1,88,868 ...",499.0 CC,27 Km/l,194 Kg,3.5,738 ratings ...
2,Royal Enfield Meteor 350,"₹ 2,05,844 ...",349.0 CC,41.88 Km/l,183 Kg,3.7,"1,995 ratings ..."
3,Royal Enfield Bullet 350,"₹ 1,27,094 ...",346.0 CC,45 Km/l,183 Kg,3.4,"4,142 ratings ..."
4,Hero Splendor +,"₹ 69,380 ...",97.2 CC,70 Km/l,110 Kg,3.6,"20,812 ratings ..."
...,...,...,...,...,...,...,...
356,BGauss A2,"₹ 52,499 ...",NA,110 Km/Full Charge,88 Kg,2.6,22 ratings ...
357,MV Agusta Brutale 1090,"₹ 21,02,268 ...",1078.0 CC,15 Km/l,183 Kg,3.3,53 ratings ...
358,Indian Chieftain Elite,"₹ 38,00,000 ...",1811.0 CC,18 Km/l,388 Kg,3.6,24 ratings ...
359,EeVe Soul,"₹ 1,40,000 ...",NA,120 Km/Full Charge,140 Kg,2.6,31 ratings ...
360,Indian Super Chief Limited,"₹ 22,82,155 ...",1890.0 CC,N/A,324 Kg,3.2,16 ratings ...

In [32]:
# removing the "₹" symbol in prices column
a = []
for i in final_df['Prices']:
    a.append(i.replace("₹",""))
final_df['Prices']  = a

# removing the "kg" in weight column
b = []
for i in final_df['Weight']:
    b.append(i[0:3])
final_df['Weight'] = b

# removing the "km/l" in Mileage column
c = []
for i in final_df['Mileage']:
    c.append(i.split()[0])
final_df['Mileage'] = c

# removing the "CC" in Bike CC column
d = []
for i in final_df['Bike CC']:
    d.append(i.split()[0])
final_df['Bike CC'] = d

# Creating a new column called "Brand" by using the existing "Model" column
e = []
for i in final_df['Model']:
    e.append(i.split()[0])
final_df['Brand'] = e

# removing the "ratings" in Reviews column
f = []
for i in final_df['Reviews']:
    f.append(i.split()[0])
final_df['Reviews'] = f

#### Output of the dataframe after cleaning

In [33]:
final_df

,Model,Prices,Bike CC,Mileage,Weight,Ratings,Reviews,Brand
0,Royal Enfield Himalayan,"2,10,784 ...",411.0,45,191,3.7,"2,254",Royal
1,Royal Enfield Classic Chrome,"1,88,868 ...",499.0,27,194,3.5,738,Royal
2,Royal Enfield Meteor 350,"2,05,844 ...",349.0,41.88,183,3.7,"1,995",Royal
3,Royal Enfield Bullet 350,"1,27,094 ...",346.0,45,183,3.4,"4,142",Royal
4,Hero Splendor +,"69,380 ...",97.2,70,110,3.6,"20,812",Hero
...,...,...,...,...,...,...,...,...
356,BGauss A2,"52,499 ...",NA,110,88,2.6,22,BGauss
357,MV Agusta Brutale 1090,"21,02,268 ...",1078.0,15,183,3.3,53,MV
358,Indian Chieftain Elite,"38,00,000 ...",1811.0,18,388,3.6,24,Indian
359,EeVe Soul,"1,40,000 ...",NA,120,140,2.6,31,EeVe
360,Indian Super Chief Limited,"22,82,155 ...",1890.0,N/A,324,3.2,16,Indian

### Saving the dataframe to a csv file

In [34]:
final_df.to_csv("totalcleaneddata.csv")

In [37]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 361 entries, 0 to 360
Data columns (total 8 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Model    361 non-null    object
 1   Prices   361 non-null    object
 2   Bike CC  361 non-null    object
 3   Mileage  361 non-null    object
 4   Weight   361 non-null    object
 5   Ratings  361 non-null    object
 6   Reviews  361 non-null    object
 7   Brand    361 non-null    object
dtypes: object(8)
memory usage: 22.7+ KB